/* COLORS */

$green-positive: #3cbbb4;
$yellow-negative: #f9ad1d;
$dark-background: rgba(0, 0, 0, .4);
$darker-background: rgba(0, 0, 0, .6);
$darker-gray: rgba(51, 51, 51, 1);
$dark-gray: rgba(70, 70, 70, 1);
$light-gray: rgba(235, 235, 235, 1);
$light-background: rgba(255, 255, 255, .4);
$lighter-background: rgba(255, 255, 255, .8);
$white: rgba(255, 255, 255, 1);

/* BREAKPOINTS */

$breakpoints: (
  sm: 500px, // small
  md: 768px, // medium
  lg: 992px, // large
  wd: 1100px // wide
);
